@import url(./fonts.css);
@import url(./ui.scss);

:root {
  font-family: monospace;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  background: black;
  color: white;

  pointer-events: none;
}

#counter {
  pointer-events: auto;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  canvas {
    // background-color: grey;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: all;
  }
}
